@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "hannari";
  src: url("./fonts/hannari/HannariMincho-Regular.otf");

}
*{
  scroll-behavior: smooth;
}
body{
  background-image: url('/public/imgs/common/img-bg.png');
}

.underline-hover-effect>div {

  scale: 0;

}